* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Home section */

.home-bg {
  height: 100vh;
  background-image: url("../imgs/1.jpg");
  background-position: bottom;
  background-size: cover;
}

.nav {
  text-align: right;
  padding: 1%;
  font-size: 28px;
}

.nav a {
  text-decoration: none;
  color: #434141;
  margin: 1%;
}

@keyframes nav-hover {
  0%{
    color: white;
  }

  100%{
    color: #094553;
  }
}

@keyframes slide-avatar {
  0%{
    right: 0%;
  }
  100%{
    right: 6.5%;
  }
}

.nav a:hover{
  animation: nav-hover;
  animation-duration: 3s;
}

.home-about {
  background-color: #171e1e61;
  width: 70%;
  height: 75%;
  margin: 0 auto;
  margin-top: 4%;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 0 40px 0 40px;
}

.home-avatar {
  background-image: url("../imgs/cap-shwr.jpg");
  background-position: center;
  background-size: cover;
  animation: slide-avatar;
  animation-duration: 1s;
  width: 17.5%;
  height: 32.5%;
  float: right;
  position: absolute;
  top: 35%;
  right: 6.5%;
  border-radius: 40px;
}

.avatar-border{
  border: 1.5px solid #2196F3;
  width: 99%;
  height: 99%;
  border-radius: 40px;
  background-color: transparent;
}

.home-headings {
  color: white;
  margin: 12.5% 0 0 12.5%;
  display: inline-block;
  font-size: 170%;
  border-bottom: 5px solid #f8ad5e;
}
.home-headings h1{
  text-align: center;
  display: block;
  margin: 0 auto;
}

.home-headings span {
  color: #f8ad5e;
}

.home-info {
  width: 70%;
  max-height: 80%;
  overflow: hidden;
  margin: 3.5% 0 0 12.5%;
  display: inline-block;
}

.home-info p {
  text-align: justify;
  color: white;
}

#homeNav {
  font-weight: 600;
  color: #094553;
}
/* End of the Home section */

/* Beginning of the Resume section */
.Resume{
  width: 70%;
  height: 75%;
  background-color: transparent;
  color: white;
  margin: 0 auto;
  margin-top: 3%;
  display: none;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.Resume h2{
  display: inline-block;
  border-bottom: 2px solid #f8ad5e;
}
.Resume h3{
  margin: 3% 0 0 0;
}
.Resume p{
  margin: 1% 0 2% 2%;
  text-align: justify;
}
.button{
  text-align: center;
  margin-top: 5%;
}
.Resume a{
  border: 2px solid #171e1e61;
  display: inline-block;
  margin: 0 auto;
  padding: 0.75%;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.college, .high-school, .work-experience{
  background-color: #171e1e61;
  padding: 5%;
  border-radius: 0 40px 0 40px;
}
.college{
  animation: slide-big;
  animation-duration: 3s;
}
.high-school{
  animation: slide-top;
  animation-duration: 3s;
}
.right{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

/* End of the Resume section */

/* Beginning of the Projects section */
.Projects {
  width: 70%;
  height: 75%;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 1%;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  border-radius: 40px 40px 40px 40px;
}

.Projects h2{
  font-size: 24px;
  display: inline-block;
  margin: 5% 0 2.5% 0;
  color: white;
  border-bottom: 3px solid #f8ad5e;
}

.proj1{
  background-color: #171e1e61;
  height: 100%;
  width: 100%;
  border-radius: 0 40px 0 40px;
  text-align: center;
  animation: slide-big;
  animation-duration: 3s;
}

.app-pic{
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.to-do{
    background-image:url("../imgs/Reminder.png");
    width: 90%;
    height: 50%;
}

.watch1{
    background-image:url("../imgs/Stopwatch1.png");
    width: 45%;
    height: 40%;
    display: inline-flex;
}
.watch2{
    background-image:url("../imgs/Stopwatch2.png");
    width: 45%;
    height: 40%;
    display: inline-flex;
}

.calculator{
  background-image:url("../imgs/Calculator.png");
  width: 35%;
  height: 80%;
  float: left;
  margin: 5%;
}

.mini{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

.proj2{
  background-color: #171e1e61;
  height: 100%;
  width: 100%;
  border-radius: 0 40px 0 40px;
  text-align: center;
  animation: slide-top;
  animation-duration: 3s;
}

.proj3{
  background-color: #171e1e61;
  height: 100%;
  width: 100%;
  border-radius: 0 40px 0 40px;
  text-align: center;
}

@keyframes slide-big{
  0%{
    position: relative;
    left: -50%;
  }
  100%{
    left: 50%;
  }
}
@keyframes slide-top{
  0%{
    position: relative;
    top: -50%;
  }
  100%{
    top: 55%;
  }
}

/* End of the Projects section */

/* Mobile friendly */
@media screen and (max-width: 1420px){
    .nav {
      font-size: 16px;
    }
    .home-about{
      max-height: 65%;
      width: 75%;
      margin-top: 7.5%;
    }
    .home-avatar{
      width: 20%;
      height: 20%;
      border-radius: 40px;
      top: 65%;
      right: 2.5%
    }
    .home-headings{
      width: 100%;
      font-size: 18px;
      width: 65%;
      margin: 5% 0 0 20%;
    }
    .home-info{
      margin: 10% 2% 0 5.5%;
      /* font-size: 18px; */
      width: 90%;
      max-height: 47.5%;
    }
    .home-info p{
      max-height: inherit;
    }
}
